.App {
  width: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
}

td {
  vertical-align: middle;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}
